@import "./node_modules/react-vis/dist/style";

body {
  font-family: "Courier", sans-serif;
  background: darken(white, 0.2);
}

.active {
  color: pink;
}

.videoRecordDiv {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.recordingButton {
  margin-top: 10px;
}

.mainNavBar {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-content: center;
}

.frameTitle {
  font-size: 14px;
}

.wordSpace {
  background-color: rgba(228, 227, 227, 0.6);
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 80%;
  position: relative;
}

.title {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
}

.speech {
  padding: 20px;
}
