@import "./node_modules/react-vis/dist/style";

body {
  font-family: "Roboto", sans-serif;
  background: darken(white, 0.2);
}

.active {
  color: pink;
}

.videoRecordDiv {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.recordingButton {
  margin-top: 10px;
}

.mainNavBar {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-content: center;
}

.frameTitle {
  font-size: 14px;
}
